# ============================================================
# To install everything at once, open a terminal and type:
#   pip install -r requirements.txt
#
# Or install them one by one:
#   pip install psutil
#   pip install scapy
#   pip install python-nmap
# ============================================================

psutil           # (CPU, RAM, disk, processes, temps)
scapy            # (fast ARP scanning)
python-nmap      # (deep port scanning via Nmap)
